extends layout

block content
  div.section
    div.row.center-align
      form(action="/checkCode", method="POST")
        div.col.s3
        div.col.s9
          div.col.s6.input-field.center-align
            input#reserve_id.validate(type='text', name='reserveId')
            label(for='reserve-id') Reservation Code
          div.col.s3.left-align
            button.btn.waves-effect.waves-light(type='submit', name='action') Submit
              i.material-icons.right send
  script(type="text/javascript") function sendForm(data) {checkReserve(data)};
